* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.575);
  width: 100vw;
  min-height: 10vh;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  display: none;
}

.containerUserList {
  width: fit-content;
  height: fit-content;
  color: white;
}

.headingUserList {
  font-size: 1rem;
}

.userInRoom {
}

#imagePixel1 {
  display: none;
}

#imagePixel2 {
  display: none;
}

#root {
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/background.jpg");
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#containerPage {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/background.jpg");
  display: none;
}

#winnerBanner {
  position: absolute;
  width: 80%;
  height: auto;
  left: 10%;
  top: 25%;
  display: none;
  background-color: rgba(0, 0, 0, 0.688);
  box-shadow: 0px 0px 13px 13px #ffffff;
  padding: 20px;
}

.headingScore {
  color: white;
  text-align: center;
}

.containerImages {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

#containerMyCanvasGalleryBtn {
  background-color: rgba(0, 0, 0, 0.575);
  box-shadow: 0px 0px 13px 13px #ffffff;
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 13px 13px #ffffff;
  background-color: rgba(0, 0, 0, 0.538);
}

h1,
p {
  color: white;
  margin-top: 10px;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
}

button {
  background-color: rgba(137, 43, 226, 0.658);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}

input {
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
}

.containerWelcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerForm {
  margin-top: 10px;
}

#myCanvas {
  display: none;
}

#waitBanner {
  display: block;
  color: white;
  font-size: 2rem;
}

#btnContainer {
  display: none;
}

.imageContainer {
  background-color: rgba(0, 0, 0, 0.445);
}

button {
  margin: 5px;
}

img {
  margin: 10px;
}

/* chatt */

.welcomeBox {
  margin: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(9, 114, 121);
  background: linear-gradient(
    194deg,
    rgba(9, 114, 121, 1) 13%,
    rgba(2, 0, 36, 1) 44%,
    rgba(0, 212, 255, 1) 73%
  );
  border: 1px solid black;
  color: white;
}

button {
  padding: 1em;
  border-radius: 5px;
  margin: 1rem;
  background-color: rgba(50, 50, 216, 0.678);
  border: none;
  color: white;
  cursor: pointer;
}

.roomAndChatContainer {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.roomBox {
  background-color: red;
}

.joinedRoomHeader {
  text-align: center;
}

.chatBox {
  height: 100px;
  flex-direction: column;
  justify-content: flex-end;
  overflow-y: scroll;
  flex-grow: 1;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 40vw;
  background-color: rgba(3, 3, 3, 0.722);
  box-shadow: 0px 0px 13px 13px #ffffff;
  border: 1px solid black;
}

.chatMessage {
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  height: 3em;
  border-radius: 5px;
  margin: 1%;
  color: white;
}

.chatInputBox {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  bottom: 0px;
}

.chatInput {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
}

#saveBtn {
  display: none;
}

.sendBtn {
  margin: 0;
}

#chatt {
  display: block;
}
