body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.welcomeBox {
  margin: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(9, 114, 121);
  background: linear-gradient(
    194deg,
    rgba(9, 114, 121, 1) 13%,
    rgba(2, 0, 36, 1) 44%,
    rgba(0, 212, 255, 1) 73%
  );
  border: 1px solid black;
  color: white;
}

button {
  padding: 1em;
  border-radius: 5px;
  margin: 1rem;
  background-color: rgba(50, 50, 216, 0.678);
  border: none;
  color: white;
}

.roomAndChatContainer {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
.chatContainer {
  display: flex;
  height: 25vw;
  width: 50vh;
  background-color: #00b7ff;
  border: 1px solid black;
}

.chatInputBox {
  flex-grow: 1;
  position: absolute;
  bottom: 0px;
}

.chatInput {
  border: 1px solid red;
  height: 50%;
  flex-grow: 5;
}

.sendBtn {
}
